{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input autofocus placeholder="mon pseudo" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input placeholder="mon mot de passe" type="password" id="password" name="_password" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    <br />
    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    <a href="{{ path('fos_user_resetting_request') }}" class="btn btn-warning" title="mot de passe oublié?"><i class="fa fa-question"></i></a>
</form>
{% endblock fos_user_content %}
