{% trans_default_domain 'FOSUserBundle' %}

<form name="fos_user_registration_form" method="post" action="{{ path('fos_user_registration_register') }}" class="fos_user_registration_register">
    <div id="fos_user_registration_form">
        <div>
            <label for="fos_user_registration_form_email" class="required">Adresse e-mail</label>
            <input autofocus placeholder="mon adresse mail" type="email" id="fos_user_registration_form_email" name="fos_user_registration_form[email]" required="required" />
        </div>
        <div>
            <label for="fos_user_registration_form_username" class="required">Nom d&#039;utilisateur</label>
            <input placeholder="mon pseudo" type="text" id="fos_user_registration_form_username" name="fos_user_registration_form[username]" required="required" maxlength="255" pattern=".{2,}" />
        </div>
        <div>
            <label for="fos_user_registration_form_plainPassword_first" class="required">Mot de passe</label>
            <input placeholder="mon mot de passe" type="password" id="fos_user_registration_form_plainPassword_first" name="fos_user_registration_form[plainPassword][first]" required="required" />
        </div>
        <div>
            <label for="fos_user_registration_form_plainPassword_second" class="required">Confirmation</label>
            <input placeholder="mon mot de passe" type="password" id="fos_user_registration_form_plainPassword_second" name="fos_user_registration_form[plainPassword][second]" required="required" />
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    </div>
    <div>
        <input type="submit" value="inscription" />
    </div>
</form>
