/*********************************************************/
/*thème base**********************************************/
/*********************************************************/
/*polices*************************************************/
/*********************************************************/
@font-face {
    font-family: 'something_in_the_wayregular';
    src: url('../fonts/something_in_the_way-webfont.woff2') format('woff2'),
    url('../fonts/something_in_the_way-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'your_fontregular';
    src: url('../fonts/your_font-webfont.woff2') format('woff2'),
    url('../fonts/your_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.panneau {
    font-family: 'something_in_the_wayregular';
}

/*********************************************************/
/*general*************************************************/
/*********************************************************/
body {
    background: #9d9d9d;
    color: #F5F5F5;
    font-family: 'Open Sans', Sans-Serif;
}

#user_section {
    width: 400px;
    max-width: 100%;
    margin: 100px auto;
    padding: 20px 20px 54px;
    border: 1px solid #000;
    background: #222;
}

h1.panneau {
    background: #222;
    border: 1px solid #000;
    padding: 0 30px;
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 40px;
    width: 100%;
}

/*********************************************************/
/*boutons*************************************************/
/*********************************************************/
.btn, input[type="submit"] {
    padding: 12px 10px;
    margin: 12px 10px;
    color: #fff;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    float: right;
    font-family: 'your_fontregular';
    font-size: 12px;
}

.btn-primary, input[type="submit"] {
    background: #4F805D;
}

.btn-warning {
    background: #A46A1F;
}

a:hover, input[type="submit"]:hover {
    background: #444;
    cursor: pointer;
    color: #AAAAAA;
}


/*********************************************************/
/*formulaires*********************************************/
/*********************************************************/
input {
    padding: 12px 10px;
    margin: 12px 10px;
    background: #444;
    border: none;
    color: #f5f5f5;
    display: block;
}

label {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
    font-family: 'something_in_the_wayregular';
}