<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Projet base symfony 3</title>
    <link rel="stylesheet" href="{{ asset('css/framework.css') }}">
    <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
</head>
<body>
<div class="block menu">
    <header>
        <h1 class="panneau">PROJET BASE</h1>
    </header>
</div>
    {% block body %}{% endblock %}
</body>
</html>